.sql-query-plugin .sql-query-result.success {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

/* no records */
.sql-query-plugin .sql-query-result.success .sql-query-result-none {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* records container */
.sql-query-plugin .sql-query-result.success .sql-query-result-container {
  overflow-x: hidden;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
}

.sql-query-plugin .sql-query-result.success .sql-query-result-content {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sql-query-plugin .sql-query-result.success .sql-query-result-table-row:hover {
  background-color: #F9F9F9;
  transition: all .3s;
}

/* record header --- columns */
.sql-query-plugin .sql-query-result.success .sql-query-result-table-header-row {
  width: fit-content;
  height: 33px;
  left: 0;
  top: 0;
  z-index: 2;
}

.sql-query-plugin .sql-query-result.success .sql-query-result-table-row.sql-query-result-table-header-row {
  position: sticky;
  background-color: #F9F9F9;
}

.sql-query-plugin .sql-query-result.success .sql-query-result-table-fix-left-cell {
  z-index: 1;
  background-color: inherit;
}

/* records */
.sql-query-plugin .sql-query-result.success .sql-query-result-table-content {
  width: 100%;
  overflow: visible scroll;
  flex: 1;
}

.sql-query-plugin .sql-query-result.success .sql-query-result-table-content::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.sql-query-plugin .sql-query-result.success .sql-query-result-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sql-query-plugin .sql-query-result.success .sql-query-result-table-row {
  position: relative;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 33px;
  background-color: #FFF;
}

.sql-query-plugin .sql-query-result.success .sql-query-result-table .record-height-default:last-of-type {
  border-bottom: none;
}

.sql-query-plugin .sql-query-result.success .sql-query-result-table-row:nth-last-child(2),
.sql-query-plugin .sql-query-result.success .sql-query-result-table-row:last-child {
  border-bottom: none;
}

.sql-query-plugin .sql-query-result.success .sql-query-result-table-cell {
  position: absolute;
  border-right: 1px solid #ccc;
  padding: 0 8px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sql-query-plugin .sql-query-result.success .sql-query-result-table-cell.index {
  height: 100%;
  padding: 0;
}

.sql-query-plugin .sql-query-result-content-scroll-left .sql-query-result-table-last-fix-left-cell {
  box-shadow: 2px 0 5px -2px rgba(136, 136, 136, .3) !important;
}

.sql-query-plugin .sql-query-result-table-cell.index .sql-query-row-index-container {
  height: 32px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 6px 8px;
}

.sql-query-plugin .sql-query-result-table-cell.index .sql-query-row-index-content {
  width: 44px;
  height: 100%;
  padding-left: 4px;
  padding-right: 10px;
  text-align: center;
}

.sql-query-plugin .sql-query-result-table-cell.index .sql-query-row-expand {
  display: inline;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.sql-query-plugin .sql-query-result-table-cell.index .sql-query-row-expand i {
  display: none;
}

.sql-query-plugin .sql-query-result-table-row:hover .sql-query-row-expand i {
  display: inline;
  font-size: 12px;
  color: #467fcf;
}

.sql-query-plugin .sql-query-result-table-cell.index .sql-query-row-expand:hover {
  background-color: #c2f5e9;
  cursor: pointer;
}

.sql-query-plugin .sql-query-result-table-row .sql-query-result-table-cell:last-child {
  border-right: none;
}

.sql-query-plugin .sql-query-result .sql-query-result-column-content {
  height: 100%;
  width: 100%;
  text-align: left;
  line-height: 32px;
  font-weight: 600;
}

.sql-query-plugin .sql-query-result-column-content .sql-query-result-column-icon {
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  margin-top: 2px;
  margin-right: 3px;
  font-size: 14px;
  color: #aaa;
}

/* cell formatter */
.sql-query-plugin .sql-query-result-table-cell .dtable-ui.cell-formatter-container {
  height: 100%;
  width: 100%;
  line-height: 32px;
}

.sql-query-plugin .sql-query-result-table-cell .sql-query-file-formatter {
  user-select: none;
  -webkit-user-select: none;
}

.sql-query-plugin .sql-query-result-table-cell .sql-query-button-formatter.cell-formatter-container {
  margin: 3px auto;
  text-align: center;
  height: 26px;
  line-height: 14px;
  min-width: 80px;
  max-width: 100%;
  width: fit-content;
}

.sql-query-plugin .sql-query-result-table-cell .sql-query-date-formatter,
.sql-query-plugin .sql-query-result-table-cell .sql-query-number-formatter,
.sql-query-plugin .sql-query-result-table-cell .sql-query-duration-formatter {
  text-align: right;
}

.sql-query-plugin .sql-query-result-table-cell .sql-query-text-formatter,
.sql-query-plugin .sql-query-result-table-cell .sql-query-url-formatter,
.sql-query-plugin .sql-query-result-table-cell .sql-query-email-formatter,
.sql-query-plugin .sql-query-result-table-cell .sql-query-long-text-formatter .long-text-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sql-query-plugin .sql-query-result-table-cell .dtable-ui.long-text-formatter {
  height: 100%;
}

.sql-query-plugin .sql-query-result-table-cell .sql-query-checkbox-formatter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sql-query-plugin .sql-query-result-table-cell .sql-query-collaborator-formatter,
.sql-query-plugin .sql-query-result-table-cell .sql-query-creator-formatter,
.sql-query-plugin .sql-query-result-table-cell .sql-query-last-modifier-formatter {
  display: flex;
  align-items: center;
}

.sql-query-plugin .sql-query-result-table-cell .collaborator-avatar {
  height: 16px;
  width: 16px;
}

/* link */
.sql-query-plugin .sql-query-result-table-cell .sql-query-link-formatter {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.sql-query-plugin .sql-query-result-table-cell .sql-query-link-formatter .sql-query-link-item {
  flex-shrink: 0;
  height: 20px;
  margin-right: 4px;
  padding: 0 6px;
  font-size: 13px;
  max-width: 100%;
  background: #eceff4;
  border-radius: 3px;
  align-items: center;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
  width: fit-content;
}

.sql-query-plugin .sql-query-result-table-cell .sql-query-link-formatter .sql-query-checkbox-item {
  width: fit-content;
  margin-right: 10px;
  line-height: 36px;
}

.sql-query-plugin .sql-query-result-table-cell .sql-query-link-formatter .sql-query-long-text-item {
  display: inline-flex;
  margin-right: 10px;
  font-size: 13px;
  max-width: 100%;
  flex-shrink: 0;
}

.sql-query-plugin .sql-query-result-table-cell .dtable-ui.cell-formatter-container.collaborator-formatter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item {
  display: inline-flex;
  margin-right: 10px;
  font-size: 13px;
  max-width: 100%;
}

.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .text-formatter,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .number-formatter,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .date-formatter,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .url-formatter,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .email-formatter,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .duration-formatter,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .geolocation-formatter,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .ctime-formatter,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .mtime-formatter,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .auto-number-formatter,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .rate-formatter {
  line-height: 20px;
}

.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .single-select-formatter .dtable-ui.select-item,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .creator-formatter .collaborator-item,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .last-modified-formatter .collaborator-item {
  margin-right: 0 !important;
}

.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .checkbox-formatter {
  line-height: 24px;
}

.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .creator-formatter,
.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .last-modified-formatter {
  line-height: 1;
}

.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .checkbox {
  transform: unset;
}

.sql-query-plugin .sql-query-result-table-cell .formula-formatter.multiple .formula-formatter-content-item .collaborator {
  margin-right: 0;
}

.sql-query-plugin .sql-query-result-table-cell .sql-query-file-formatter .file-item-icon {
  margin-right: 4px;
}

.sql-query-plugin .sql-query-result-table-cell .sql-query-file-formatter .file-item-icon:last-child {
  margin-right: 0;
}

/* records count */
.sql-query-plugin .sql-query-result.success .sql-query-result-table-count-row {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 32px;
  overflow: visible;
  line-height: 31px;
  background-color: #F9F9F9;
  border-top: 1px solid #ccc;
  padding: 0 8px;
}

.sql-query-plugin .sql-query-result.success .sql-query-result-count {
  position: sticky;
  left: 8px;
  width: fit-content;
}
